# OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
*.log
*.tmp

# VSCode
.vscode/
.history/
.ionide
*.code-workspace
*.vsix

# IntelliJ / Android Studio
.idea/
.idea_modules/
out/
captures/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml
*.iml
*.ipr
*.iws

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Java / Kotlin / Gradle
.gradle/
.kotlin/
build/
**/build/
!src/**/build/
local.properties
output.json
!gradle/wrapper/gradle-wrapper.jar

# Node.js
node_modules/

# ETC
.cxx/
.externalNativeBuild/
.navigation/
*.apk
xcuserdata
